body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    background-color: #ccc;
}

#website {
    width: 1040px;
    margin: auto;
    background-color: #fff;
    height: 1000px;
}

* {
    margin: 0px;
    padding: 0px;
}

/* Phần top */
#top {
    width: 1000px;
    margin: auto;
    height: 28px;
    background-color: #f4f4f4;
}

#topLeft {
    float: left;
    margin: 4px 0 0 20px;
}

#topLeft a {
    color: black;
}

#topRight {
    float: right;
    margin: 5px 20px 0 0px;
}

a {
    text-decoration: none;
}

#topRight ul {
    list-style-type: none;
}

#topRight ul li {
    float: left;
    margin-right: 5px;
    color: #999;
}

#topRight ul li a {
    color: #999;
}

#topRight ul li a:hover {
    color: #00f;
}

/* Phần header */
#header {
    width: 1000px;
    margin: auto;
    height: 150px;
}

#shopCart {
    float: right;
    width: 180px;
    height: 67px;
    position: relative;
}

#shopCart p i {
    font-size: 35px;
    margin: 20px 0 0 50px;
    color: grey;
}

#infoCart {
    position: absolute; z-index: 99;
    top: 0px;
    margin: 20px 0 0 100px;
    text-align: center;
    color: #f00;
}

#headerPhone {
    width: 150px;
    height: 30px;
    float: left;
    margin-top: 28px;
    padding-left: 30px;
    font-size: 13px;
    color: #00F;
    line-height: 30px;
}

#headerPhone i {
    color: #f00;
}

#headerSearch {
    width: 216px;
    height: 30px;
    float: left;
    margin-top: 28px;
    background: #f7f7f7;
    position: relative;
}

#txtSearch {
    width: 180px;
    height: 29px;
    border: 0; 
    background: #f7f7f7;
}

#btnSearch {
    width: 34px; 
    height: 30px; 
    position: absolute; z-index: 99; top: 0; right: 0; 
    border: 0;
    cursor: pointer;
}

/* Phần menu */
#menu {
    width: 1000px;
    margin: 15px auto;
    height: 42px;
    background: #000;
}

#menu ul {
    list-style-type: none;
}

#menu ul li {
    float: left;
    border-right: 1px dotted #fff;
    height: 42px;
}

#menu ul li a {
    padding: 0 25px 0 25px;
    color: #fff;
    background: #000;
    font-weight: bold;
    line-height: 42px;
    display: inline-block;
}

#menu ul li a:hover {
    background: #999;
    color: #00c;
}

#menu ul li i {
    font-size: medium;
}

/* Phần main */
#main {
    width: 1000px;
    margin: 10px auto;
}

#mainLeft {
    width: 230px;
    float: left;
}

#mainRight {
    width: 749px;
    float: left;
    border-left: 1px dotted #333;
    margin-left: 20px;
}

#menuLeft {
    width: 200px;
    margin: 10px 0 0 14px;
}

#menuLeft > ul {
    padding: 10px 20px 10px 20px;
}

#menuLeft li {
    line-height: 25px;
}

#menuLeft > ul > li {
    border-bottom: 1px solid #999;
}

.subMenu li {
    padding-left: 30px;
    list-style-type: none;
}

.subMenu i {
    color: #f00;
}

ul {
    list-style-type: none;
}

#products {
    margin-left: 17px;
}

#products ul li {
    width: 230px;
    height: 340px;
    float: left;
    margin-right: 7px;
}

#products ul li:hover {
    background: #ccc;
    box-shadow: 0 0 5px #2c2c30;
}

.content {
    width: 210px;
    height: 320px;
    margin: 9px 10px 9px 10px;
}

.title {
    margin-top: 6px;
    text-align: center;
    color: #f00;
}

.price {
    margin-top: 3px;
    text-align: center;
    font-size: 12px;
    color: #999;
}